@import url("https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Patua+One&family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300..900&family=Hedvig+Letters+Serif:opsz@12..24&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Patua+One&family=Rubik&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Hedvig Letters Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.main-home {
  height: 89vh;
  background-color: #f3fff9;
}

.main-home1{
  height: auto;
  background-color: #f3fff9;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: white;
  height: 70px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(3.3px);
  -webkit-backdrop-filter: blur(3.3px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.19);
}

.search-bar input {
  width: 300px;
  padding: 5px;
}

.options {
  display: flex;
}

.options a {
  margin-left: 10px;
  color: white;
  text-decoration: none;
}

.input-box {
  border-radius: 5px;
  background: rgb(249, 250, 250);
  border: 1px solid rgb(181, 189, 196);
  font-size: 16px;
  height: 40px;
  line-height: 24px;
  padding: 7px 8px;
  color: rgb(8, 9, 10);
  box-shadow: none;
  outline: none;
}

.input-box:focus {
  background-color: #fff;
  border-color: black;
  box-shadow: 1px 1px #ffffff;
}

.input{
  align-self: center;
}

.hero {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tagline {
  height: 100%;
  width: 50%;
  align-items: baseline;
  padding-top: 7vw;
  font-size: 25px;
  padding-left: 100px;
}

.tagline h1 {
  color: #909391;
}

#hero-img {
  height: 410px;
  margin-top: 60px;
}

.button-86 {
  width: 125px;
  height: 50px;
  font-size: 22px;
  background: transparent;
  border: none;
  position: relative;
  color: white;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-86::after,
.button-86::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all 0.4s;
}

.button-86::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #0bb864;
  border-radius: 10px;
}

.button-86::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.button-86:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.button-86:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.button-86:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}

.hero-img {
  margin-right: 60px;
}

.btns {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: baseline;
  padding-top: 10px;
}

.button-9 {
  background-color: #0bb864;
  border: 1px solid #0bb864;
  border-radius: 6px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 44px;
  line-height: 1.15;
  margin: 0 10px;
  margin: 0;
  outline: none;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow 0.2s, -ms-transform 0.1s, -webkit-transform 0.1s,
    transform 0.1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
  margin-right: 20px;
}

.button-23 {
  background-color: #ffffff;
  border: 1px solid #0bb864;
  border-radius: 6px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 44px;
  line-height: 1.15;
  margin: 0 10px;
  outline: none;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
}

.button-23:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow 0.2s;
}
.button-9:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow 0.2s;
}

.button-23:active {
  background-color: #f7f7f7;
  border-color: #0bb864;
  transform: scale(0.96);
}

.button-9:active {
  background-color: #0bb864;
  border-color: #0bb864;
  transform: scale(0.96);
}

.button-23:disabled {
  border-color: #dddddd;
  color: #dddddd;
  cursor: not-allowed;
  opacity: 1;
}

.button-9:disabled {
  border-color: #dddddd;
  color: black;
  cursor: not-allowed;
  opacity: 1;
}

.button-10 {
  background-color: #0bb864;
  border: 1px solid #0bb864;
  border-radius: 6px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  height: 35px;
  line-height: 1.15;
  margin: 0 10px;
  margin: 0;
  outline: none;
  padding: 0 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow 0.2s, -ms-transform 0.1s, -webkit-transform 0.1s,
    transform 0.1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
  margin-right: 20px;
}

.button-10:hover{
  box-shadow: #098f4e 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
}